doctype html
html
    head
        title Element DragDrop with Click
        link(rel="stylesheet", href="css/bootstrap.min.css")
        script(type="text/javascript", src="js/jquery.min.js")
        script(type="text/javascript", src="js/jquery-ui.min.js")

        link(rel="stylesheet", href="css/feedback.css")
        script(type="text/javascript", src="js/feedback.js")

        script(type="text/coffeescript", src="coffee/index.coffee")
        link(rel="stylesheet/less", type="text/css", href="less/index.less")

        script(type="text/javascript", src="js/less.min.js")
        script(type="text/javascript", src="js/coffee-script.js")
    body
        .container
            .jumbotron
                h1.title Element DragDrop with Click
                p
                    ol
                        li Due to mobile compatibility, the method used is click/touch.

        .container
            .panel.panel-primary
                .panel-heading
                    h2 Mechanics
                .panel-body
                    h3 Drops
                    .drops
                        .drop
                        .drop
                        .drop
                        .drop

                    h3 Choices
                    .choices
                        .choice(data-order="1") Choice A
                        .choice(data-order="2") Choice B
                        .choice(data-order="3") Choice C
                        .choice(data-order="4") Choice D

        .container
            .panel.panel-default
                .panel-heading
                    h2 API
                .panel-body
                    p To be updated

        .container
            .panel.panel-warning
                .panel-heading
                    h2 To Do
                .panel-body#feedback(data-identifier="element-dragdropclick")