doctype html
html
    head
        title= title
        link(rel="stylesheet", href="css/bootstrap.min.css")
        script(type="text/javascript", src="js/jquery.min.js")

        script(type="text/coffeescript", src="coffee/index.coffee")
        link(rel="stylesheet/less", type="text/css", href="less/index.less")

        script(type="text/javascript", src="js/less.min.js")
        script(type="text/javascript", src="js/coffee-script.js")
    body
        .drops
            .drop
            .drop
            .drop
            .drop

        .choices
            .choice(data-order="1") Choice A
            .choice(data-order="2") Choice B
            .choice(data-order="3") Choice C
            .choice(data-order="4") Choice D