body {
    padding-top: 50px;

    h1.title {
        font-size: 48px;
    }

    .receiving {
        cursor: pointer;

        border-color: #66512c;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #c0a16b;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #c0a16b;

        &.hover {
            background-color: #fcf8e3;
        }
    }

    .choices {
        margin: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        text-align: center;
    }

    .choice {
        display: inline-block;
        border-width: 1px;
        border-color: #ccc;
        border-style: solid;
        margin: 5px;
        padding: 10px;
        cursor: pointer;
        background-color: #fff;

        &:hover {
            color: #fff;
            background-color: #337ab7;
            border-color: #2e6da4;
        }

        &.selected {
            color: #fff;
            background-color: #286090;
            border-color: #204d74;
        }

        &.psuedo {
            border-style: dotted;
            color: #999;
            cursor: no-drop;

            &:hover {
                border-color: #ccc;
                background-color: #fff;
                color: #999;
            }
        }
    }

    .question {
        margin: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        text-align: center;

        .drop {
            display: inline-block;
            min-width: 100px;
            min-height: 100px;
            border: 1px solid #ccc;
            margin: 5px;
            padding: 10px;
            vertical-align: top;

            .choice {
                margin: 0;
            }

            &.correct {
                border-color: #2b542c;
                -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #67b168;
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #67b168;
                background-color: #dff0d8;
            }

            &.wrong {
                border-color: #843534;
                -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
                background-color: #f2dede;
            }
        }
    }
}